<div id='game-screen'>
  <div class='close' (click)="exit()"><img src='assets/close.png' alt='close' /></div>
  <jn-player [player]='game.players[(viewPoint + 2) % 4]' [ngClass]="{active:game.getActivePlayer() == game.players[(viewPoint + 2) % 4]}" position="top"></jn-player>
  <jn-player [player]='game.players[(viewPoint+3) % 4]' [ngClass]="{active:game.getActivePlayer() == game.players[(viewPoint + 3) % 4]}" position="left"></jn-player>
  <jn-board [board]="game.board"></jn-board>
  <jn-player [player]='game.players[(viewPoint+1) % 4]' [ngClass]="{active:game.getActivePlayer() == game.players[(viewPoint + 1) % 4]}" position="right"></jn-player>
  <div *ngIf="myTurn()" class='playClock'>{{game.playClock}}</div>
  <div *ngIf="!game.isWatching()" class='status-dial'>
    <div *ngIf="!myTurn()" class='status'>
      <span>Waiting for {{game.getActivePlayer()?.name}}</span>
    </div>
    <div *ngIf="myTurn() && game.canEndTurn()" class='status active'>
      <img src='assets/knock.png' />
    </div>
    <div *ngIf="myTurn() && !game.canEndTurn()" class='status active'>
      <div *ngIf="!activeDomino" class='instruction'>Select Domino</div>
      <div *ngIf="activeDomino && !canPlayRight() && !canPlayLeft()" class='play noplay'><img src='assets/no-play.png' /></div>
      <div *ngIf="canPlayRight()" class='play' (click)="playRight()"><img src='assets/play-up.png' /></div>
      <div class='border' *ngIf="game.board.center && canPlayLeft() && canPlayRight()"></div>
      <div *ngIf="canPlayLeft() && game.board.center" class='play' (click)="playLeft()"><img src='assets/play-down.png' /></div>
    </div>
  </div>
  <div class='active-player'>
    <div class='hand'>
      <jn-domino *ngFor="let domino of game.players[viewPoint]?.hand" [domino]="domino" (click)="selectDomino(domino)" [ngClass]="{'active':domino == activeDomino}"></jn-domino>
    </div>
    <jn-player [player]='game.players[viewPoint]' [ngClass]="{active:game.getActivePlayer() == game.players[viewPoint]}" position="bottom"></jn-player>
  </div>
</div>
<jn-modal #joinModal [hidden]="game.seatsAvailable() == 0">
  <h1>Enter Your Name</h1>
  <input [(ngModel)]="player.name" type='text' />
  <div class='button-panel'>
    <jn-button (click)="join()" label="Join"></jn-button>
  </div>
</jn-modal>
<jn-modal #statusModal>
  <h1 *ngIf="game.status == 'Pending' && !game.isMultiplayer()">Game Ready</h1>
  <h1 *ngIf="game.status == 'Pending' && game.isMultiplayer()">Waiting for Players</h1>
  <h1 *ngIf="game.status == 'Intermission' || game.status == 'Completed'">{{game.isShut()?"Game Shut - ":""}}{{game.getActivePlayer().name}} Wins!</h1>
  <h1 *ngIf="game.status == 'Drawn'">Game Push</h1>
  <div *ngIf="game.status == 'Pending' && game.isMultiplayer()" class="game-code">Game Code: {{game.code}}</div>
  <div *ngIf="(game.status == 'Drawn' || game.status == 'Intermission') && game.isMultiplayer()">Game will resume in {{timer}}</div>
  <div class='button-panel'>
    <jn-button *ngIf="game.status == 'Pending' && (!game.isMultiplayer() || (viewPoint == 0 && game.seatsAvailable() < 3))" (click)="game.start()" label="Start Now"></jn-button>
    <jn-button *ngIf="(game.status == 'Drawn' || game.status == 'Intermission') && !game.isMultiplayer()" (click)="game.start()" label="Continue"></jn-button>
    <jn-button *ngIf="game.status == 'Completed' || game.status == 'Victory'" (click)="mainMenu()" label="Main Menu"></jn-button>
  </div>
</jn-modal>
<jn-summary [game]="game"></jn-summary>
